
<li id="comment-<%=comment.id%>"> 
    <fieldset>

        <legend>Comment </legend>
            <p>
                <% if(locals.user && locals.user.id == comment.user.id){%>
                    <small>
                        <a class="delete-comment-btn" href="/comment/destroy/<%=comment.id%>">Destroy Comment</a>
                    </small>
                <%}%>

                <% if(locals.user){%>
                    <small>
                        <form action="/likes/toggle/?id=<%=comment._id%>&type=comment" method="post"  class="likes">
                           <button type="submit"><small class="counts"><%= comment.likes.length%></small> <i class="fas fa-thumbs-up"></i></button>
                        </form> 
                     </small>
                <%}else{%>
                   <small ><%= comment.likes.length%></small> <i class="fas fa-thumbs-up"></i>
                       
                <%}%>
                Comment on post : <%=comment.content%>
            
                <small>Author of Comment : <%=comment.user.name%></small>
                <!-- post.user that create post and comment.user that user who do comment -->
            </p>   
    </fieldset>
</li> 
