<li style="list-style:none" id="post-<%=post._id%>" value="<%=post.user._id%>">  
    <fieldset>
        <legend>Post Details</legend>
                <!-- for delete post and check for button show to whom user who create post -->
            <% if(locals.user && locals.user.id == post.user.id){%>
                    <small>
                        <a class="delete-post-button" href="/post/destroy/<%=post.id%>">Destroy Post</a>
                    </small>
            <%}%>

                <% if(locals.user){%>
                    <small>
                        <form action="/likes/toggle/?id=<%=post._id%>&type=post" method="post"  class="likes">
                           <button type="submit"><small class="counts"><%= post.likes.length%></small> <i class="fas fa-thumbs-up"></i></button>
                        </form> 
                     </small>
                <%}else{%>
                   <small ><%= post.likes.length%></small> <i class="fas fa-thumbs-up"></i>
                       
                <%}%>
                     <!-- post = one post in posts model or collection -->
                     <!-- content in post and name of author --> 
            <p> 
                Content : <%=post.content %>
                <br>
                <small>Name : <%=locals.post.user.name %></small>
            </p>
              
            

<!--******************* Comments ***************** -->
            <div class="post-comments">
                <% if(locals.user){%>
                    <form action="/comment/create" class="create-comment" method="post">
                        <input type="text" name="content" placeholder="Type here to add comment....." required>
                        <!-- for getting post_id in comment to populate for this post -->
                        <input type="hidden" name="post_id" value="<%=post._id%>">
                        <button type="submit">Add Comment</button>
                    </form>
                <%}%>
            </div>
            
            <!-- no need for auth. to see post and comments -->
            <div class="post-comments-list">
                <ul id="<%= post._id%>">
                    <%for(let comment of post.comments){%> 
                      <%- include('_comment',{comment:comment}) %>
                    <%}%>
                </ul>
            
            </div>  
                
                

    </fieldset>
</li> 
