<!-- <%if(locals.user){%>

<%}else{%>
    <h1>CODE SOCIAL /Profile</h1>
<%}%> -->

    

        <!-- <h1>CODE SOCIAL /<%= title%> </h1> -->


    <% if(locals.profile_user.id == user.id){%>
         <!-- path = /uploads/users/avatar/filename multer store where that file that path -->
       <img src="<%= profile_user.avatarFilePath%>"    
         alt="<%= profile_user.name%>">
        <!-- an update form/router -->
        <form action="/user/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" placeholder="Enter your name" value="<%=profile_user.name%>" required>
            <input type="email" name="email" placeholder="Enter your email" value="<%=profile_user.email%>" required>
            <input type="file" name="avatar" placeholder="Profile Photo">
            <button type="submit">Update</button>
            </form>
    <%}else{%>
        <!-- only info shows -->
        <!-- <hr> -->
        <p>Name : <%= profile_user.name %></p>  
        <p>Email: <%= profile_user.email %></p>  
        <p>Password: <%= profile_user.password %></p>  
        <p>Created At: <%= profile_user.createdAt %></p>  
        <p>Updated At: <%= profile_user.updatedAt %></p>
        <!-- <hr> -->
    <%}%>    
    