<!-- <%if(locals.user){%>

<%}else{%>
    <h1>CODE SOCIAL /Profile</h1>
<%}%> -->

    

        <!-- <h1>CODE SOCIAL /<%= title%> </h1> -->


    <% if(locals.profile_user.id == user.id){%>
        <!-- when user see its own profile -->

         <!-- path = /uploads/users/avatar/filename multer store where that file that path -->
       <img src="<%= profile_user.avatarFilePath%>"    
         alt="<%= profile_user.name%>">
        <!-- an update form/router -->
        <form action="/user/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" placeholder="Enter your name" value="<%=profile_user.name%>" required>
            <input type="email" name="email" placeholder="Enter your email" value="<%=profile_user.email%>" required>
            <input type="file" name="avatar" placeholder="Profile Photo">
            <button type="submit">Update</button>
            </form>
    <%}else{%>
        <!--this one for user to see other user profile,only info shows -->
        <img src="<%= profile_user.avatarFilePath%>"    
        alt="<%= profile_user.name%>">
        <div id="user-details">
            <p>Name : <%= profile_user.name %></p>  
            <p>Email: <%= profile_user.email %></p>  
            <!-- <p>Password: <%= profile_user.password %></p>   -->
            <p>Created At: <i><%= profile_user.createdAt %></i> </p>  
            <p>Updated At: <%= profile_user.updatedAt %></p>
             <p>friends: <%=profile_user.friends[0] %></p>
        </div>
        <div id="add-friend">
            <form action="user/profile/addFriend" method="post" id="add-to-friend">
                <input type="hidden" name="friendID" value="<%=profile_user._id%>">
                <% let is=false;
                for(let el of currentUser.friends){
                    if(el.to_user == profile_user.id){ %>
                        <button type="submit" style="color: white; background-color: red;">Remove From Friend</button>

                   
                <% is=true; }} if(!is){ %>
                <button type="submit" >Add To Friend</button>
                <%} %>
            </form>
        </div>

    <%}%>    
    
    <script >
         /********* ADD TO FRIEND ************/
 console.log('hi,********* ADD TO FRIEND ***********')
 let createFriendship = function(){

   let friendshipForm = $('#add-to-friend');
   friendshipForm.submit(function(e){
    e.preventDefault();

    $.ajax({
        method:'POST',
        url:"./addFriend",
        data:friendshipForm.serialize(),//json convert
        success:function(res){
            if(!res.data.addToFriend){
                $('#add-to-friend button').html("Remove From Friend");
                $('#add-to-friend button').css("background-color","red");
                $('#add-to-friend button').css("color","white")
            }else{
                $('#add-to-friend button').text("Add To Friend");
                $('#add-to-friend button').css("background-color","lightgray")
                $('#add-to-friend button').css("color","black")
            }
        },error:function(resError){

        }
    })
   })
 }

 createFriendship();
    </script>